*.pyc
*.json
*.safetensors
*.npz
.gitignore
glue_metrics.py
sst2.pkl
model_downstream.py
run_evaluation.sh
summarize_sequential.py
*.npy
cross_entropy_loss.py
*.yaml
experiments/evaluate_copy.py
glue_eval/dataset/create_glue_subset.py
caches/
caches/wikipedia/
malmen_train/malmen/outputs/2024-09-08/06-22-24/main.log
malmen_train/malmen/outputs/2024-09-08/06-27-39/main.log
malmen_train/malmen/outputs/2024-09-08/06-28-42/main.log
malmen_train/malmen/outputs/2024-09-08/06-29-01/main.log
malmen_train/malmen/outputs/2024-09-08/06-30-11/main.log
malmen_train/malmen/outputs/2024-09-08/06-34-26/main.log
malmen_train/malmen/cache/0_0_keys.pth
malmen_train/malmen/cache/0_0_values_grad.pth
malmen_train/malmen/cache/0_1_keys.pth
malmen_train/malmen/cache/0_1_values_grad.pth
malmen_train/malmen/cache/0_2_keys.pth
malmen_train/malmen/cache/0_2_values_grad.pth
malmen_train/malmen/cache/0_3_keys.pth
malmen_train/malmen/cache/0_3_values_grad.pth
malmen_train/malmen/cache/0_4_keys.pth
malmen_train/malmen/cache/0_4_values_grad.pth
malmen_train/malmen/cache/0_5_keys.pth
malmen_train/malmen/cache/0_5_values_grad.pth
malmen_train/malmen/cache/0_6_keys.pth
malmen_train/malmen/cache/0_6_values_grad.pth
malmen_train/malmen/cache/0_7_keys.pth
malmen_train/malmen/cache/0_7_values_grad.pth
malmen_train/malmen/cache/0_8_keys.pth
malmen_train/malmen/cache/0_8_values_grad.pth
malmen_train/malmen/cache/0_9_keys.pth
malmen_train/malmen/cache/0_9_values_grad.pth
malmen_train/malmen/cache/0_10_keys.pth
malmen_train/malmen/cache/0_10_values_grad.pth
malmen_train/malmen/cache/0_11_keys.pth
malmen_train/malmen/cache/0_11_values_grad.pth
malmen_train/malmen/cache/0_12_keys.pth
malmen_train/malmen/cache/0_12_values_grad.pth
malmen_train/malmen/cache/0_13_keys.pth
malmen_train/malmen/cache/0_13_values_grad.pth
malmen_train/malmen/cache/0_14_keys.pth
malmen_train/malmen/cache/0_14_values_grad.pth
malmen_train/malmen/cache/0_15_keys.pth
malmen_train/malmen/cache/0_15_values_grad.pth
malmen_train/malmen/cache/1_0_keys.pth
malmen_train/malmen/cache/1_0_values_grad.pth
malmen_train/malmen/cache/1_1_keys.pth
malmen_train/malmen/cache/1_1_values_grad.pth
malmen_train/malmen/cache/1_2_keys.pth
malmen_train/malmen/cache/1_2_values_grad.pth
malmen_train/malmen/cache/1_3_keys.pth
malmen_train/malmen/cache/1_3_values_grad.pth
malmen_train/malmen/cache/1_4_keys.pth
malmen_train/malmen/cache/1_4_values_grad.pth
malmen_train/malmen/cache/1_5_keys.pth
malmen_train/malmen/cache/1_5_values_grad.pth
malmen_train/malmen/cache/1_6_keys.pth
malmen_train/malmen/cache/1_6_values_grad.pth
malmen_train/malmen/cache/1_7_keys.pth
malmen_train/malmen/cache/1_7_values_grad.pth
malmen_train/malmen/cache/1_8_keys.pth
malmen_train/malmen/cache/1_8_values_grad.pth
malmen_train/malmen/cache/1_9_keys.pth
malmen_train/malmen/cache/1_9_values_grad.pth
malmen_train/malmen/cache/1_10_keys.pth
malmen_train/malmen/cache/1_10_values_grad.pth
malmen_train/malmen/cache/1_11_keys.pth
malmen_train/malmen/cache/1_11_values_grad.pth
malmen_train/malmen/cache/1_12_keys.pth
malmen_train/malmen/cache/1_12_values_grad.pth
malmen_train/malmen/cache/1_13_keys.pth
malmen_train/malmen/cache/1_13_values_grad.pth
malmen_train/malmen/cache/1_14_keys.pth
malmen_train/malmen/cache/1_14_values_grad.pth
malmen_train/malmen/cache/1_15_keys.pth
malmen_train/malmen/cache/1_15_values_grad.pth
malmen_train/malmen/cache/2_0_keys.pth
malmen_train/malmen/cache/2_0_values_grad.pth
malmen_train/malmen/cache/2_1_keys.pth
malmen_train/malmen/cache/2_1_values_grad.pth
malmen_train/malmen/cache/2_2_keys.pth
malmen_train/malmen/cache/2_2_values_grad.pth
malmen_train/malmen/cache/2_3_keys.pth
malmen_train/malmen/cache/2_3_values_grad.pth
malmen_train/malmen/cache/2_4_keys.pth
malmen_train/malmen/cache/2_4_values_grad.pth
malmen_train/malmen/cache/2_5_keys.pth
malmen_train/malmen/cache/2_5_values_grad.pth
malmen_train/malmen/cache/2_6_keys.pth
malmen_train/malmen/cache/2_6_values_grad.pth
malmen_train/malmen/cache/2_7_keys.pth
malmen_train/malmen/cache/2_7_values_grad.pth
malmen_train/malmen/cache/2_8_keys.pth
malmen_train/malmen/cache/2_8_values_grad.pth
malmen_train/malmen/cache/2_9_keys.pth
malmen_train/malmen/cache/2_9_values_grad.pth
malmen_train/malmen/cache/2_10_keys.pth
malmen_train/malmen/cache/2_10_values_grad.pth
malmen_train/malmen/cache/2_11_keys.pth
malmen_train/malmen/cache/2_11_values_grad.pth
malmen_train/malmen/cache/2_12_keys.pth
malmen_train/malmen/cache/2_12_values_grad.pth
malmen_train/malmen/cache/2_13_keys.pth
malmen_train/malmen/cache/2_13_values_grad.pth
malmen_train/malmen/cache/2_14_keys.pth
malmen_train/malmen/cache/2_14_values_grad.pth
malmen_train/malmen/cache/2_15_keys.pth
malmen_train/malmen/cache/2_15_values_grad.pth
malmen_train/malmen/cache/3_0_keys.pth
malmen_train/malmen/cache/3_0_values_grad.pth
malmen_train/malmen/cache/3_1_keys.pth
malmen_train/malmen/cache/3_1_values_grad.pth
malmen_train/malmen/cache/3_2_keys.pth
malmen_train/malmen/cache/3_2_values_grad.pth
malmen_train/malmen/cache/3_3_keys.pth
malmen_train/malmen/cache/3_3_values_grad.pth
malmen_train/malmen/cache/3_4_keys.pth
malmen_train/malmen/cache/3_4_values_grad.pth
malmen_train/malmen/cache/3_5_keys.pth
malmen_train/malmen/cache/3_5_values_grad.pth
malmen_train/malmen/cache/3_6_keys.pth
malmen_train/malmen/cache/3_6_values_grad.pth
malmen_train/malmen/cache/3_7_keys.pth
malmen_train/malmen/cache/3_7_values_grad.pth
malmen_train/malmen/cache/3_8_keys.pth
malmen_train/malmen/cache/3_8_values_grad.pth
malmen_train/malmen/cache/3_9_keys.pth
malmen_train/malmen/cache/3_9_values_grad.pth
malmen_train/malmen/cache/3_10_keys.pth
malmen_train/malmen/cache/3_10_values_grad.pth
malmen_train/malmen/cache/3_11_keys.pth
malmen_train/malmen/cache/3_11_values_grad.pth
malmen_train/malmen/cache/3_12_keys.pth
malmen_train/malmen/cache/3_12_values_grad.pth
malmen_train/malmen/cache/3_13_keys.pth
malmen_train/malmen/cache/3_13_values_grad.pth
malmen_train/malmen/cache/3_14_keys.pth
malmen_train/malmen/cache/3_14_values_grad.pth
malmen_train/malmen/cache/3_15_keys.pth
malmen_train/malmen/cache/3_15_values_grad.pth
malmen_train/malmen/cache/4_0_keys.pth
malmen_train/malmen/cache/4_0_values_grad.pth
malmen_train/malmen/cache/4_1_keys.pth
malmen_train/malmen/cache/4_1_values_grad.pth
malmen_train/malmen/cache/4_2_keys.pth
malmen_train/malmen/cache/4_2_values_grad.pth
malmen_train/malmen/cache/4_3_keys.pth
malmen_train/malmen/cache/4_3_values_grad.pth
malmen_train/malmen/cache/4_4_keys.pth
malmen_train/malmen/cache/4_4_values_grad.pth
malmen_train/malmen/cache/4_5_keys.pth
malmen_train/malmen/cache/4_5_values_grad.pth
malmen_train/malmen/cache/4_6_keys.pth
malmen_train/malmen/cache/4_6_values_grad.pth
malmen_train/malmen/cache/4_7_keys.pth
malmen_train/malmen/cache/4_7_values_grad.pth
malmen_train/malmen/cache/4_8_keys.pth
malmen_train/malmen/cache/4_8_values_grad.pth
malmen_train/malmen/cache/4_9_keys.pth
malmen_train/malmen/cache/4_9_values_grad.pth
malmen_train/malmen/cache/4_10_keys.pth
malmen_train/malmen/cache/4_10_values_grad.pth
malmen_train/malmen/cache/4_11_keys.pth
malmen_train/malmen/cache/4_11_values_grad.pth
malmen_train/malmen/cache/4_12_keys.pth
malmen_train/malmen/cache/4_12_values_grad.pth
malmen_train/malmen/cache/4_13_keys.pth
malmen_train/malmen/cache/4_13_values_grad.pth
malmen_train/malmen/cache/4_14_keys.pth
malmen_train/malmen/cache/4_14_values_grad.pth
malmen_train/malmen/cache/4_15_keys.pth
malmen_train/malmen/cache/4_15_values_grad.pth
malmen_train/malmen/cache/5_0_keys.pth
malmen_train/malmen/cache/5_0_values_grad.pth
malmen_train/malmen/cache/5_1_keys.pth
malmen_train/malmen/cache/5_1_values_grad.pth
malmen_train/malmen/cache/5_2_keys.pth
malmen_train/malmen/cache/5_2_values_grad.pth
malmen_train/malmen/cache/5_3_keys.pth
malmen_train/malmen/cache/5_3_values_grad.pth
malmen_train/malmen/cache/5_4_keys.pth
malmen_train/malmen/cache/5_4_values_grad.pth
malmen_train/malmen/cache/5_5_keys.pth
malmen_train/malmen/cache/5_5_values_grad.pth
malmen_train/malmen/cache/5_6_keys.pth
malmen_train/malmen/cache/5_6_values_grad.pth
malmen_train/malmen/cache/5_7_keys.pth
malmen_train/malmen/cache/5_7_values_grad.pth
malmen_train/malmen/cache/5_8_keys.pth
malmen_train/malmen/cache/5_8_values_grad.pth
malmen_train/malmen/cache/5_9_keys.pth
malmen_train/malmen/cache/5_9_values_grad.pth
malmen_train/malmen/cache/5_10_keys.pth
malmen_train/malmen/cache/5_10_values_grad.pth
malmen_train/malmen/cache/5_11_keys.pth
malmen_train/malmen/cache/5_11_values_grad.pth
malmen_train/malmen/cache/5_12_keys.pth
malmen_train/malmen/cache/5_12_values_grad.pth
malmen_train/malmen/cache/5_13_keys.pth
malmen_train/malmen/cache/5_13_values_grad.pth
malmen_train/malmen/cache/5_14_keys.pth
malmen_train/malmen/cache/5_14_values_grad.pth
malmen_train/malmen/cache/5_15_keys.pth
malmen_train/malmen/cache/5_15_values_grad.pth
malmen_train/malmen/checkpoints/0_0_keys.pth
malmen_train/malmen/checkpoints/0_0_values_grad.pth
malmen_train/malmen/checkpoints/1_0_keys.pth
malmen_train/malmen/checkpoints/1_0_values_grad.pth
malmen_train/malmen/checkpoints/2_0_keys.pth
malmen_train/malmen/checkpoints/2_0_values_grad.pth
malmen_train/malmen/checkpoints/3_0_keys.pth
malmen_train/malmen/checkpoints/3_0_values_grad.pth
malmen_train/malmen/checkpoints/4_0_keys.pth
malmen_train/malmen/checkpoints/4_0_values_grad.pth
malmen_train/malmen/checkpoints/5_0_keys.pth
malmen_train/malmen/checkpoints/5_0_values_grad.pth
malmen_train/malmen/checkpoints/gpt-j_malmen_512_net.pth
malmen_train/malmen/checkpoints/gpt-j_malmen_512_opt.pth
malmen_train/malmen/checkpoints/gpt2_malmen_512_net.pth
malmen_train/malmen/checkpoints/gpt2_malmen_512_opt.pth
